body{
    background-color: #03396C;
    margin: 0;
}
.sidenav {
    font-family: 'Roboto';
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    margin: 10px;
    border-right: solid #e2af6d 3px;
    
}

.sidenav a {
    padding: 15px 15px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: ease-in-out .3s;
}
.sidenav img{
    position: relative;
    height: 65px;
    text-align: center;
    transition: none;
    top: -20px;
}
.sidenav img:hover{
    transition: none;
}
#sidimg{
    border-radius: 5px; 
    height: 120px; 
    width: 120px;
}
.sidenav p{
    color: white;
    transition: ease-in-out .3s;
}
.sidenav p:hover {
    color: #e2af6d;
    border-left: #e2af6d solid 20px;
    transition: ease-in-out .3s;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    margin-top: 10px;
    width: 80%;
}
.main2{
    position: relative;
    float: right;
    width: 35%;
    margin-top: -530px;
    margin-right: 10px;
}
.nav{
    width: 58%;
    display: inline-block;
}
.nav img{
    height: 35px;
    float: right;
    margin-top: 12px;
}
::placeholder{
    position: relative;
    left:0px;
    font-family: 'Roboto';
    color:#E2AF6D;
}
.nav input{
    float: left;
    padding: 6px;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 25px;
    width: 88%;
    outline: none;
    background-color: #03396C;
   color: white;
   opacity: 0.7;
  }
  .arts p{
    padding: 10px;
    float: right;
    color: #03396c;
}
.arts button{
    padding: 10px;
    width: 200px;
    margin: 15px;
    border-radius: 2px;
    position: relative;
    margin-top: 50px;
    outline: none;
    color: #03396c;
}
.arts img{
    float: right;
    position: relative;
    margin-top: 150px;
    margin-right: -50px;
    transition: ease-in-out 0.3s;
}
.arts img:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}
  .kiswahili img{
    float: right;
    position: relative;
    margin-top: 150px;
    margin-left: 10px;
    transition: ease-in-out 0.3s;
}
.kiswahili p{
    padding: 10px;
    float: right;
    color: white;
}
.kiswahili button{
    padding: 10px;
    width: 100px;
    margin: 15px;
    border-radius: 2px;
    position: relative;
    margin-top: 50px;
    outline: none;
}
.kiswahili img{
    float: right;
    position: relative;
    margin-top: px;
    margin-right: -50px;
    transition: ease-in-out 0.3s;
}
.kiswahili img:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}
  .history img{
    float: left;
    position: relative;
    margin-top: 150px;
    margin-right: -100px;
    transition: ease-in-out 0.3s;
}
.history p{
    padding: 10px;
    float: right;
    color: #03396c;
}
.history button{
    padding: 10px;
    width: 100px;
    margin: 15px;
    border-radius: 2px;
    position: relative;
    margin-top: 50px;
    outline: none;
}
.history img{
    float: right;
    position: relative;
    margin-top: px;
    margin-right: -50px;
    transition: ease-in-out 0.3s;
}
.history img:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}
  .progr{
    width: 100%;
    height: 250px;
    background-color: #e2af6d;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px 3px #fff;
    -moz-box-shadow: 0 0 5px 3px #fff;
    box-shadow: 0 0 5px 3px #fff;
}
.mag p1{
    color: white;
    font-weight: 300;
    margin: 20px;
    font-size: 25px;
    
}
.mag p2{
    margin-left: 250px;
    color: #03396c;
    
}
.btn1{
    display: block;
    margin-left: 50px;
    width: 230px;
    height: 12px;
    border-radius: 5px;
    margin-top: 40px;
    -webkit-box-shadow: 0 0 3px 1px #fff;
    -moz-box-shadow: 0 0 3px 1px #fff;
    box-shadow: 0 0 3px 1px #fff;
}
.btn2{
    position: relative;
    display: block;
    margin-left: 50px;
    width: 80px;
    height: 12px;
    border-radius: 10px;
    margin-top: -12px;
    background-color: #03396c;
    -webkit-box-shadow: 0 0 3px 1px #fff;
    -moz-box-shadow: 0 0 3px 1px #fff;
    box-shadow: 0 0 3px 1px #fff;
}
.btn3{
    position: relative;
    display: block;
    margin-left: 50px;
    width: 200px;
    height: 12px;
    border-radius: 10px;
    margin-top: -12px;
    background-color: #03396c;
    -webkit-box-shadow: 0 0 3px 1px #fff;
    -moz-box-shadow: 0 0 3px 1px #fff;
    box-shadow: 0 0 3px 1px #fff;
}
p3{
    color: #03396c;
   display: block;
   margin-left: 150px;
   margin-top: -50px; 
}
p4{
    color: #03396c;
    display: block;
    margin-left: 290px;
    margin-top: -18px; 
}
.mag img{
    display: block;
    margin-left: 25px;
    margin-left: 10px;
    height: 50px;
    width: 100px;
    margin-top: 10px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 3px 1px #fff;
    -moz-box-shadow: 0 0 3px 1px #fff;
    box-shadow: 0 0 3px 1px #fff;
}
.achie{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    background-color: #e2af6d;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px 3px #fff;
    -moz-box-shadow: 0 0 5px 3px #fff;
    box-shadow: 0 0 5px 3px #fff;
}
.magr p1{
    color: white;
    font-weight: 300;
    padding: 10px;
    font-size: 25px;
    margin: 20px;
}
.magr p2{
    /* float: right; */
    color: #03396c;
    margin: 10px;
    margin-left: 170px;
}
.magr img{
    display: block;
    margin-left: 20px;
    height: 150px;
    width: 150px;
}
.magr p3{
        color: #03396c;
       display: block;
       margin-left: 140px;
       margin-top: -90px; 
       font-family: 'Roboto';
       font-size: 20px;
}
.magr p4{
    color: white;
    display: block;
    margin-left: 230px;
    margin-top: 10px; 
    font-family: 'Roboto';
    font-size: 20px;
}
.magr #str{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
    left: 195px;
    position: relative;
}
@media screen and (max-width: 500px) {
    .sidenav {
        width: 50px;
        margin: 10px;  
    }
    .sidenav a {
        padding: 25px 25px 0px 0px;
        font-size: 10px;
    }
    .sidenav p:hover {
        color: #e2af6d;
        border-left: #e2af6d solid 5px;
    }
    .sidenav img{
        position: relative;
        height: 35px;
        top: -10px;
    }
    .sidenav img:hover{
        transition: none;
    }
    #sidimg{
        border-radius: 10px; 
        height: 50px; 
        width: 50px;
    }
    .main {
        margin-left: 70px; /* Same as the width of the sidenav */
        margin-top: 8px;
        width: 50%;
    }
    .nav{
        width: 90%;
        display: inline-block;
    }
    .nav img{
        height: 15px;
        float: right;
        margin-top: 12px;
        margin-right: -20px;
        position: relative;
    }
    .nav input{
        float: left;
        padding: 2px;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 10px;
        border-radius: 25px;
        width: 100%;
        position: relative;
    }
    /*MAIN 2*/
    .main2{
        float: right;
        width: 25%;
        margin-top: -300px;
        margin-right: 50px;
    }
    .progr{
        width: 100%;
        height: 160px;
        background-color: #e2af6d;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 2px 1px #fff;
        -moz-box-shadow: 0 0 2px 1px #fff;
        box-shadow: 0 0 3px 1px #fff;
    }
    .mag p1{
        color: white;
        padding: 5px;
        font-size: 10px;
        
    }
    .mag p2{
        top: -20px;
        margin-left: 100px;
        color: #03396c;
        font-size: 10px;
        display: inline-block;
        position: relative;
        
    }
    .btn1{
        display: block;
        margin-left: 40px;
        width: 50px;
        height: 5px;
        border-radius: 5px;
        margin-top: 5px;
    }
    .btn2{
        position: relative;
        display: block;
        margin-left: 40px;
        width: 25px;
        height: 5px;
        border-radius: 5px;
        margin-top: -6px;
        background-color: #03396c;
    }
    .btn3{
        position: relative;
        display: block;
        margin-left: 40px;
        width: 40px;
        height: 5px;
        border-radius: 5px;
        margin-top: -6px;
        background-color: #03396c;
    }
    
p3{
    color: #03396c;
   display: block;
   margin-left: 50px;
   margin-top: -30px; 
   font-family: 'Roboto';
   font-size: 12px;
}
p4{
    color: #03396c;
    display: block;
    margin-left: 100px;
    margin-top: -10px; 
    font-family: 'Roboto';
    font-size: 10px;
}
.mag img{
    display: block;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 1px 1px #fff;
    -moz-box-shadow: 0 0 1px 1px #fff;
    box-shadow: 0 0 1px 1px #fff;
}
.achie{
    width: 100%;
    height: 140px;
    background-color: #e2af6d;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 2px 1px #fff;
    -moz-box-shadow: 0 0 2px 1px #fff;
    box-shadow: 0 0 2px 1px #fff;
}
.magr p1{
    color: white;
    font-weight: 100;
    padding: 3px;
    font-size: 10px;
}
.magr p2{
    float: right;
    color: #03396c;
    margin: 5px;
    font-size: 10px;
}
.magr img{
    display: block;
    margin-left: 5px;
    height: 80px;
    width: 60px;
}
.magr p3{
        color: #03396c;
       display: block;
       margin-left: 60px;
       margin-top: -50px; 
       font-family: 'Roboto';
       font-size: 9px;
}
.magr p4{
    color: white;
    display: block;
    margin-left: 65px;
    margin-top: 3px; 
    font-family: 'Roboto';
    font-size: 10px;
}
.magr #str{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0px;
    left: 60px;
    position: relative;
}
  }
@media screen and (max-width: 320px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav {
    width: 60px;
    margin: 15px;  
}
.sidenav a {
    padding: 25px 25px 0px 0px;
    font-size: 8px;
}
.sidenav p:hover {
    color: #e2af6d;
    border-left: #e2af6d solid 2px;
}
.sidenav img{
    position: relative;
    height: 35px;
    top: -10px;
}
.sidenav img:hover{
    transition: none;
}
#sidimg{
    border-radius: 3px; 
    height: 30px; 
    width: 30px;
}
.main {
    margin-left: 80px; /* Same as the width of the sidenav */
    margin-top: 8px;
}
  .nav{
    width: 70%;
    display: inline-block;
}
.nav img{
    height: 15px;
    float: right;
    margin-top: 12px;
    margin-right: -15px;
    position: relative;
}
.nav input{
    float: left;
    padding: 2px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 10px;
    border-radius: 15px;
    width: 150%;
    position: relative;
  }
  .hiring{
    width: 120%;
    height: 80px;
    position: relative;
    border-radius:10px;
}
.rect1{
    background-color:#03396C;
    width: 12%;
    height:80px;
    opacity:0.7;
    position: relative;
    left: 10px;
}
.rect2{
    background-color:#03396C;
    width: 12%;
    height:80px;
    opacity:0.7;
    position: relative;
    left: 60px;
    top:-80px;
}
.rect3{
    background-color:#03396C;
    width: 12%;
    height:80px;
    opacity:0.7;
    position: relative;
    left: 120px;
    top:-160px;
}
.rect4{
    background-color:#03396C;
    width: 12%;
    height:80px;
    opacity:0.7;
    position: relative;
    left: 180px;
    top:-240px;
}
.rect5{
    background-color:#03396c;
    width: 12%;
    height:80px;
    opacity:0.7;
    position: relative;
    left: 240px;
    top:-320px;
}
.hiring p{
    font-size: 15px;
    position: relative;
    top: -370px;
    text-align:center;
    margin: auto;
}
.teachers{
    display: inline-block;
    width: 50%;
}

.white p{
    text-align: center;
    padding: 2px;
}

.elem p{
    color: white;
    text-align: center;
    font-size: 10px;
    margin-top: -8px;
}
.french p{
    text-align: center;
    font-size: 10px;
    margin-top: -12px;
}
.secteach p{
    margin-top: -10px;
    font-size: 10px;
}
/*MAIN 2*/
.main2{
    position: relative;
    float: right;
    width: 55%;
    margin-top: -550px;
    margin-right: -270px;
}
.progr{
    width: 100%;
    height: 200px;
    background-color: #e2af6d;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 2px 1px #fff;
    -moz-box-shadow: 0 0 2px 1px #fff;
    box-shadow: 0 0 3px 1px #fff;
}
.mag p1{
    color: white;
    padding: 5px;
    font-size: 15px;
    
}
.mag p2{
    top: -20px;
    margin-left: 95px;
    color: #03396c;
    font-size: 10px;
    display: inline-block;
    position: relative;
    
}
.btn1{
    display: block;
    margin-left: 55px;
    width: 55px;
    height: 5px;
    border-radius: 5px;
    margin-top: 15px;
}
.btn2{
    position: relative;
    display: block;
    margin-left: 55px;
    width: 25px;
    height: 5px;
    border-radius: 5px;
    margin-top: -6px;
    background-color: #03396c;
}
.btn3{
    position: relative;
    display: block;
    margin-left: 55px;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    margin-top: -6px;
    background-color: #03396c;
}

p3{
color: #03396c;
display: block;
margin-left: 55px;
margin-top: -35px; 
font-family: 'Roboto';
font-size: 12px;
}
p4{
color: #03396c;
display: block;
margin-left: 115px;
margin-top: -10px; 
font-family: 'Roboto';
font-size: 10px;
}
.mag img{
display: block;
margin-left: 5px;
height: 30px;
width: 30px;
border-radius: 5px;
-webkit-box-shadow: 0 0 1px 1px #fff;
-moz-box-shadow: 0 0 1px 1px #fff;
box-shadow: 0 0 1px 1px #fff;
}
.achie{
width: 100%;
height: 155px;
background-color: #e2af6d;
border-radius: 10px;
-webkit-box-shadow: 0 0 2px 1px #fff;
-moz-box-shadow: 0 0 2px 1px #fff;
box-shadow: 0 0 2px 1px #fff;
}
.magr p1{
color: white;
padding: 3px;
font-size: 15px;
display: block;
}
.magr p2{
    margin-left: 50px;
margin-top: -18px; 
    position: relative;
color: #03396c;
text-align: center;
font-size: 10px;
}
.magr img{
display: block;
margin-left: 75px;
height: 40px;
width: 40px;
}
.magr p3{
    color: #03396c;
   display: block;
   text-align: center;
   margin: auto; 
   font-family: 'Roboto';
   font-size: 10px;
}
.magr p4{
color: white;
display: block;
margin: auto;
text-align: center;
margin-top: 3px; 
font-family: 'Roboto';
font-size: 10px;
}
.magr #str{
display: inline-block;
height: 10px;
width: 10px;
margin: auto;
left: 65px;
position: relative;
}
}
