body{
    background-color: white;
}
.main{
    background-color: #03396C;
    width:600px;
    height:500px;
    text-align:center;
    position: relative;
    left:350px;
    top:30px;
}
.main img{
    position: relative;
    left:-270px;
    top:10px;
    width:30px;
    height:30px;
}
.logo{
    color:white;
    font-size:48px;
    font-family:'quicksand';
    position: relative;
    top:-40px;
}
.main a{
    position: relative;
    left:-150px;
    top:-70px;
    text-decoration: none;
    color:white;
    font-family:'Roboto' ;
    font-size:18px;
}
.docked{
    position: relative;
    top:-107px;
    left:150px;
    color:white;
    text-decoration: underline;
    text-decoration-color: #E2AF6D;
}
.main input{
    border-radius:10% / 90%;
    padding:10px;
    border: none;
    background-color:#E2AF6D;
    width:350px;
    height:20px;
}
.main input[type="email"]{
    position: relative;
    top:-80px;
    width:400px;
}
.main input[type="password"]{
    position: relative;
    top:-70px;
    left:10px;
}
.signUp{
    border-radius:20% / 90%;
    padding:10px;
    border: none;
    background-color:#E2AF6D;
    width:200px;
    height:40px;   
    color:#03396C;
    font-size:24px;
    font-family: 'Roboto';
    padding:5px;
    position: relative;
    top:-60px;
}
.or{
    color:white;
    font-size:18px;
    font-family:'Roboto';
    text-align: center;
    position: relative;
    top:-60px;
}
.fb{
    border-radius:20% / 90%;
    padding:10px;
    border-color: white;
    border-style: 1px solid;
    background-color:#03396C;
    width:100px;
    height:40px;   
    color:white;
    font-size:24px;
    font-family: 'Roboto';
    padding:5px;
    position: relative;
    top:-74px;
    margin-right: 40px;
}
.google{
    border-radius:20% / 90%;
    padding:10px;
    border-color: white;
    border-style: 1px solid;
    background-color:#03396C;
    width:120px;
    height:40px;   
    color:white;
    font-size:24px;
    font-family: 'Roboto';
    padding:5px;  
    position: relative;
    top:-50px;
    margin-left:40px;
}
.google p span{
    position: relative;
    top:-28px;
    letter-spacing:0.08px;
    text-align: center;
}
::placeholder{
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: normal;
    position: relative;
    top:5px;
}
